AI Crop Recomendation(4).json
{
  "name": "AI Crop Recomendation",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -2128,
        -448
      ],
      "id": "ffe1e557-42c4-489f-b1b1-91b0e1946fd2",
      "name": "When chat message received",
      "webhookId": "41f6ff60-bfbb-4c72-bf75-9a7aeb22ba2a"
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        880,
        -720
      ],
      "id": "8afefec0-e256-42fd-bab0-166226ded521",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "8FaG1jfWSkyu6Pqk",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1008,
        -720
      ],
      "id": "3fccf5ab-de63-43e8-aa2b-e58bbfa5976f",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "translategemma:4b",
          "mode": "list",
          "cachedResultName": "translategemma:4b"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $('When chat message received').item.json.chatInput }}"
            }
          ]
        },
        "options": {
          "system": "You are a JSON translation engine.\n\nYou are NOT a chatbot.\n\nYour ONLY task:\n1. Detect the language of the input text\n2. Translate it into English\n\nSTRICT RULES:\n- Output ONLY valid JSON\n- DO NOT respond conversationally\n- DO NOT add greetings or extra text\n- DO NOT continue the conversation\n- DO NOT change the meaning\n- If input is already English, return it as-is\n\nOutput format (single line only):\n{\"language\":\"<detected_language>\",\"translated_text\":\"<translated_text>\"}\n\nExamples:\nInput: hi\nOutput: {\"language\":\"English\",\"translated_text\":\"hi\"}\n\nInput: வணக்கம்\nOutput: {\"language\":\"Tamil\",\"translated_text\":\"Hello\"}\n\nIf you output anything other than JSON, the system will fail.",
          "format": "json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        -1680,
        -448
      ],
      "id": "88e4aee0-3d47-4585-878d-705f5937e005",
      "name": "Message a model",
      "credentials": {
        "ollamaApi": {
          "id": "8FaG1jfWSkyu6Pqk",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4357472-fa00-4e49-96d5-0e8af462ba97",
              "name": "language",
              "value": "={{ \n(() => {\n  let content = $json.content;\n\n  if (typeof content === \"string\") {\n    content = content\n      .replace(/```json/g, \"\")\n      .replace(/```/g, \"\")\n      .trim();\n\n    content = JSON.parse(content);\n  }\n\n  return content.language;\n})()\n}}",
              "type": "string"
            },
            {
              "id": "87dcaeb2-ca6a-4bc7-9a8e-737c34198d76",
              "name": "translated_text",
              "value": "={{ \n(() => {\n  let content = $json.content;\n\n  if (typeof content === \"string\") {\n    content = content\n      .replace(/```json/g, \"\")\n      .replace(/```/g, \"\")\n      .trim();   // 🔥 removes \\n\n\n    content = JSON.parse(content);\n  }\n\n  return content.translated_text;\n})()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1328,
        -448
      ],
      "id": "2cea3415-8957-4693-aa9c-5c11992a069a",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User message:\n{{ $node[\"Edit Fields\"].json[\"translated_text\"] }}\n\nLocation data:\n{{ $json.village }} {{ $json.city }} {{ $json.district }}{{ $json.sub_district }}\n\n{{ $json.state }}{{ $json.country }}\n\nWeather data:\n{{ $('HTTP Request1').item.json.temperature }}{{ $('HTTP Request1').item.json.rain }}{{ $('HTTP Request1').item.json.humidity }}{{ $('HTTP Request1').item.json.wind_speed }}{{ $('HTTP Request1').item.json.soil_temp }}{{ $('HTTP Request1').item.json.soil_moisture }}",
        "options": {
          "systemMessage": "=You are a friendly AI Crop Assistant designed to help farmers.\n\nYou are given:\n- User message\n- Location data\n- Weather data\n\nFirstly You have to greet the user and then answer their query in 2 or 3 lines\nThen Follow the instructions and give the Output Accordingly\nSTRICT INSTRUCTIONS:\n\n1. FIRST greet the user and directly answer their question in 1–2 lines.\n\n2. THEN provide location information.\n\n3. THEN describe the weather simply.\n\n4. THEN give practical farming tips based on weather.\n\n5. DO NOT recommend crops.\n\n6. If NPK values are missing:\n   politely ask the user to provide them.\n\nTone:\n- Friendly\n- Simple\n- Practical\n\nMANDATORY OUTPUT FORMAT:\n\nAnswer:\n<direct answer to user's question>\n<polietly ask NPK values>\n\nLocation:\n<location summary>\n\nWeather:\n<simple explanation>\n\nTips:\n- tip 1\n- tip 2\n- tip 3"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        864,
        -944
      ],
      "id": "a3b069b0-0ede-4ed5-bf0d-7b3561838159",
      "name": "AI Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=  {{ $json.output }}",
        "options": {
          "systemMessage": "=you are a professional English to  {{ $('Edit Fields').item.json.language }} Translator. If it is null take the default language as English\n\nYour job is to Translate the input and output it as a plain text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1216,
        -240
      ],
      "id": "d2f2b630-3fc2-4eca-97d8-d2418f50978d",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "translategemma:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1296,
        -16
      ],
      "id": "705da4bd-e603-4499-aa4c-f98bac9ab966",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "8FaG1jfWSkyu6Pqk",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.1:8b",
          "mode": "list",
          "cachedResultName": "llama3.1:8b"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.translated_text }}"
            }
          ]
        },
        "options": {
          "system": "You are a strict classifier. Your task: Classify the user input into EXACTLY one of the following categories: NPK AVG CHAT -------------------------------- 🔥 CORE PRIORITY (NON-NEGOTIABLE) -------------------------------- You MUST follow this priority strictly: 1. AVG (highest priority) 2. NPK 3. CHAT (default) -------------------------------- 🧠 RULE 1: AVG (HIGHEST PRIORITY) -------------------------------- If the input contains ANY intent of: - averaging - calculating - computing - finding mean Then ALWAYS return: AVG Keywords include (not limited to): avg, average, mean, median, calculate, compute, find average, take average, get average CRITICAL: - Even if NPK values are present → return AVG - AVG overrides EVERYTHING -------------------------------- 🧠 RULE 2: NPK (SECOND PRIORITY) -------------------------------- Return NPK if: - The input contains ANY numeric values associated with: nitrogen, phosphorus, potassium, N, P, K This includes: - N=90 - nitrogen 60 - P: 40 - K is 50 - values in ANY order - values inside long sentences CRITICAL RULE: - If ANY NPK value with a number is present ANYWHERE → ALWAYS return NPK - This OVERRIDES greetings, chat, or questions IMPORTANT: - The presence of numbers + N/P/K context is the ONLY requirement - Ignore conversational text completely -------------------------------- 🧠 RULE 3: CHAT (DEFAULT) -------------------------------- Return CHAT if: - No averaging intent - No numeric NPK values -------------------------------- 🚫 STRICT OUTPUT RULES -------------------------------- - Output ONLY one word: NPK OR AVG OR CHAT - No explanation - No punctuation - No extra text - Never refuse - Never justify -------------------------------- ⚠️ IMPORTANT EDGE RULES -------------------------------- - If BOTH chat intent and NPK values exist → return NPK - If BOTH AVG and NPK exist → return AVG - If NPK is mentioned WITHOUT numbers → return CHAT - If numbers exist WITHOUT NPK context → return CHAT -------------------------------- 🧪 EXAMPLES (CRITICAL TRAINING) -------------------------------- # AVG CASES (ALWAYS AVG) Input: take avg NPK value Output: AVG Input: average NPK values 30 20 10 Output: AVG Input: calculate average for N=90 P=40 K=50 Output: AVG Input: compute avg for nitrogen 60 phosphorus 30 potassium 20 Output: AVG Input: find mean of N 50 P 40 K 30 Output: AVG Input: avg 30 20 10 Output: AVG Input: can you calculate average of my soil values N=60 P=30 K=20 Output: AVG -------------------------------- # NPK CASES (NUMBERS + CONTEXT) Input: N=90 P=40 K=50 Output: NPK Input: nitrogen 80 phosphorus 30 potassium 20 Output: NPK Input: N 50 P 20 K 10 Output: NPK Input: K is 40 and N is 70 Output: NPK Input: my soil has N=60 and P=30 Output: NPK Input: NPK values are 30 20 10 Output: NPK -------------------------------- # NPK WITH CHAT (IMPORTANT) Input: hello I have N=90 P=40 K=50 what should I grow Output: NPK Input: can you suggest crops nitrogen 68 phosphorus 32 potassium 45 Output: NPK Input: hi bro my soil test says N 70 P 40 K 30 what next Output: NPK Input: I tested my soil and got nitrogen 68 phosphorus 32 potassium 45 recommend crops Output: NPK -------------------------------- # TRICKY NPK CASES Input: nitrogen is 60 and phosphorus is 30 and potassium is 20 Output: NPK Input: N around 70 P around 40 K around 30 Output: NPK Input: soil report: N=65, P=35, K=45 Output: NPK -------------------------------- # NOT NPK (NO NUMBERS) Input: what is NPK Output: CHAT Input: tell me about nitrogen phosphorus potassium Output: CHAT Input: NPK importance Output: CHAT Input: my soil has good nitrogen Output: CHAT -------------------------------- # NUMBERS BUT NO NPK CONTEXT Input: 30 20 10 Output: CHAT Input: temperature 25 rainfall 100 Output: CHAT -------------------------------- # CHAT CASES Input: hello Output: CHAT Input: how are you Output: CHAT Input: suggest crops Output: CHAT Input: what fertilizer should I use Output: CHAT -------------------------------- FINAL INSTRUCTION: Follow strictly: AVG > NPK > CHAT If ANY averaging intent → AVG Else if ANY numeric NPK value → NPK Else → CHAT"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        -1104,
        -448
      ],
      "id": "363c93a9-145c-4ede-8df3-ab87cb6548ba",
      "name": "Message a model1",
      "credentials": {
        "ollamaApi": {
          "id": "8FaG1jfWSkyu6Pqk",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.content.trim() }}",
                    "rightValue": "CHAT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "029fa633-c506-4f41-a8b2-8c3299ffe008"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Chat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d4464c40-2301-43ca-a51a-af5b5e30c9cd",
                    "leftValue": "={{ $json.content.trim() }}",
                    "rightValue": "AVG",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NPK AVG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d4787652-3786-475b-9b5a-c6a0c63725b6",
                    "leftValue": "={{ $json.content.trim() }}",
                    "rightValue": "NPK",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NPK"
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -752,
        -464
      ],
      "id": "f21f23b8-b3be-443f-b036-f13ab3932e5b",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "http://172.17.0.1:8000/full-data",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lat",
              "value": "={{ $('When chat message received').item.json.metadata?.lat || $('Edit Fields1').item.json.metadata?.lat }}"
            },
            {
              "name": "lon",
              "value": "={{ $('When chat message received').item.json.metadata?.lon ?? $('Edit Fields1').item.json.metadata?.lon }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        -448
      ],
      "id": "0063a711-8eec-4393-9d70-8c1b89144837",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Top crop: {{ $json.recommendations[0].crop }} ({{ $json.recommendations[0].confidence }})\n\nSecond crop: {{ $json.recommendations[1].crop }} ({{ $json.recommendations[1].confidence }})\n\nThird crop: {{ $json.recommendations[2].crop }} ({{ $json.recommendations[2].confidence }})\nUser Location Details\nVillage: {{ $('HTTP Request').item.json.location.village }}\nDistrict: {{ $('HTTP Request').item.json.location.district }}\nState: {{ $('HTTP Request').item.json.location.state }}\nUser weather details\nTemperature: {{ $('HTTP Request').item.json.weather.temperature }}\nHumidity: {{ $('HTTP Request').item.json.weather.humidity }}\nRainfall: {{ $('HTTP Request').item.json.weather.rain }}\nSoil Moisture: {{ $('HTTP Request').item.json.weather.soil_moisture }}\nUser  soil NPK Levels\nN: {{ $('HTTP Request').item.json.npk.N }}\nP: {{ $('HTTP Request').item.json.npk.P }}\nK: {{ $('HTTP Request').item.json.npk.K }}\npH: {{ $('HTTP Request').item.json.npk.ph }}",
        "options": {
          "systemMessage": "You are an AI Crop Explanation Assistant.\n\nYour job is NOT to recommend crops.\nYour job is to EXPLAIN WHY a crop was chosen based on given data.\n\nYou are given:\n- User input\n- Location (village, district, state)\n- Weather data (temperature, humidity, rainfall, soil moisture, etc.)\n- Soil data (N, P, K, pH)\n- Model output (top 3 crops with confidence scores)\n\n--------------------------------\n🔥 CORE RESPONSIBILITY\n--------------------------------\n\nExplain WHY the top crop was selected using:\n- Soil conditions (NPK, pH)\n- Weather conditions (temperature, rainfall, humidity, soil moisture)\n- Confidence score\n\n--------------------------------\n🚫 STRICT RULES\n--------------------------------\n\n- DO NOT recommend new crops\n- DO NOT change model output\n- DO NOT contradict the model\n- DO NOT say \"I suggest\" or \"you should grow\"\n- ONLY explain reasoning\n\n--------------------------------\n🧠 EXPLANATION LOGIC\n--------------------------------\n\nYou MUST:\n\n1. Start by clearly stating the top predicted crop\n\n2. Explain using:\n   - Soil nutrients:\n     Example:\n     \"The nitrogen level is moderate which supports leafy growth.\"\n\n   - pH:\n     Example:\n     \"The soil pH is slightly acidic which is suitable for this crop.\"\n\n   - Weather:\n     Example:\n     \"The current temperature is optimal for growth.\"\n     \"Low rainfall indicates controlled irrigation is needed.\"\n\n3. Mention confidence:\n   - High (>0.7): \"The model is highly confident\"\n   - Medium (0.4–0.7): \"moderate confidence\"\n   - Low (<0.4): \"low confidence, conditions are not ideal\"\n\n4. Compare briefly with other crops:\n   - Example:\n     \"Other crops like rice and jowar have lower compatibility under these conditions.\"\n\n--------------------------------\n📌 OUTPUT FORMAT (MANDATORY)\n--------------------------------\n\nCrop:\n<top crop name>\n\nConfidence:\n<percentage + interpretation>\n\nReasoning:\n- Soil explanation\n- Weather explanation\n- Any limitations\n\nComparison:\n- Why other crops ranked lower\n\n--------------------------------\n🧪 EXAMPLES\n--------------------------------\n\nExample 1:\n\nInput:\nTop crop: cabbage (0.78)\nN=90 P=40 K=50 pH=6.5\nTemp=25°C Humidity=70%\n\nOutput:\n\nCrop:\nCabbage\n\nConfidence:\n78% (Highly suitable conditions)\n\nReasoning:\n- The nitrogen level is high, which supports leafy crops like cabbage.\n- The pH is slightly acidic, which is ideal for cabbage growth.\n- The temperature is moderate, supporting healthy development.\n- Humidity is sufficient for maintaining leaf moisture.\n\nComparison:\n- Crops like rice require higher water availability.\n- Jowar is more suited for drier conditions.\n\n--------------------------------\n\nExample 2:\n\nInput:\nTop crop: rice (0.35)\nLow rainfall, high temperature\n\nOutput:\n\nCrop:\nRice\n\nConfidence:\n35% (Low confidence)\n\nReasoning:\n- Rice typically requires high water, but current rainfall is low.\n- High temperature may stress water availability.\n\nComparison:\n- Other crops also show low compatibility due to limited moisture.\n\n--------------------------------\n\nExample 3:\n\nInput:\nTop crop: jowar (0.52)\nLow soil moisture, high temperature\n\nOutput:\n\nCrop:\nJowar\n\nConfidence:\n52% (Moderately suitable)\n\nReasoning:\n- Jowar is drought-resistant and performs well in low moisture.\n- High temperature supports its growth cycle.\n\nComparison:\n- Crops like rice and cabbage require more water.\n\n--------------------------------\n\nFINAL INSTRUCTION:\n\nAlways explain using data.\nNever guess.\nNever recommend.\nOnly justify the model's decision.",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        864,
        -544
      ],
      "id": "64259984-637a-4824-8350-a15cf585ed76",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        944,
        -320
      ],
      "id": "5971a6a2-a4e3-4906-9619-7f349dac58e2",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "8FaG1jfWSkyu6Pqk",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://172.17.0.1:8000/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lat",
              "value": "={{ $('When chat message received').item.json.metadata?.lat || $('Edit Fields1').item.json.metadata?.lat }}"
            },
            {
              "name": "lon",
              "value": "={{ $('When chat message received').item.json.metadata?.lon ?? $('Edit Fields1').item.json.metadata?.lon }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        -848
      ],
      "id": "31b17027-92cc-47e5-a5c6-57af477eca90",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.translated_text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a strict information extractor.\n\nYour task:\nExtract EXACT numeric values for:\n- Nitrogen (N)\n- Phosphorus (P)\n- Potassium (K)\n- pH\n\n--------------------------------\n🔥 CORE RULE (NON-NEGOTIABLE)\n--------------------------------\n\nYou MUST extract ALL four values:\nN, P, K, and pH\n\nIf ANY one value is:\n- missing\n- unclear\n- not explicitly given\n\n→ DO NOT return output\n→ Return NOTHING (empty response)\n\n--------------------------------\n🧠 EXTRACTION RULES\n--------------------------------\n\n- Extract ONLY explicitly mentioned numbers\n- DO NOT guess\n- DO NOT infer\n- DO NOT estimate\n- DO NOT assume missing values\n\n--------------------------------\n🧠 FORMAT HANDLING\n--------------------------------\n\nValues may appear in ANY form:\n\n✔ N=90\n✔ N 90\n✔ nitrogen 90\n✔ P: 40\n✔ potassium is 50\n✔ ph 6.5\n✔ soil pH is 7.2\n✔ values in any order\n✔ values inside long sentences\n\n--------------------------------\n⚠️ CRITICAL EDGE RULES\n--------------------------------\n\n- Ignore unrelated numbers (temperature, rainfall, etc.)\n- Do NOT confuse pH with other values\n- Do NOT extract numbers without clear labels\n- If multiple values for same nutrient → choose the most clearly associated one\n\n--------------------------------\n🚫 STRICT REJECTION CONDITIONS\n--------------------------------\n\nIf ANY of these happen → return NOTHING:\n\n- Missing N, P, K, or pH\n- Only partial values present\n- Values are vague (e.g., \"around 50\", \"high\", \"low\")\n- Only NPK present but no pH\n- Only pH present but no NPK\n\n--------------------------------\n📦 OUTPUT FORMAT (MANDATORY)\n--------------------------------\n\nReturn ONLY:\n\n{\n  \"N\": <number>,\n  \"P\": <number>,\n  \"K\": <number>,\n  \"pH\": <number>\n}\n\n- No explanation\n- No extra text\n- No comments\n- No markdown\n- No formatting outside JSON\n\n--------------------------------\n🧪 EXAMPLES (CRITICAL)\n--------------------------------\n\n# ✅ VALID CASES\n\nInput: N=90 P=40 K=50 pH=6.5\nOutput:\n{\n  \"N\": 90,\n  \"P\": 40,\n  \"K\": 50,\n  \"pH\": 6.5\n}\n\n--------------------------------\n\nInput: nitrogen 70 phosphorus 30 potassium 40 ph 7.2\nOutput:\n{\n  \"N\": 70,\n  \"P\": 30,\n  \"K\": 40,\n  \"pH\": 7.2\n}\n\n--------------------------------\n\nInput: my soil has N 60 P 20 K 30 and pH is 6.8\nOutput:\n{\n  \"N\": 60,\n  \"P\": 20,\n  \"K\": 30,\n  \"pH\": 6.8\n}\n\n--------------------------------\n\nInput: N=55, P=25, K=35, soil pH=7.1\nOutput:\n{\n  \"N\": 55,\n  \"P\": 25,\n  \"K\": 35,\n  \"pH\": 7.1\n}\n\n--------------------------------\n\n# ❌ INVALID CASES (RETURN NOTHING)\n\nInput: N=90 P=40 K=50\nOutput:\n(empty)\n\n--------------------------------\n\nInput: pH=6.5\nOutput:\n(empty)\n\n--------------------------------\n\nInput: nitrogen 60 phosphorus 30 potassium 20\nOutput:\n(empty)\n\n--------------------------------\n\nInput: N=50 P=20 K=10 ph is around 6.5\nOutput:\n(empty)\n\n--------------------------------\n\nInput: N=50 P=20 temperature=30 rainfall=100\nOutput:\n(empty)\n\n--------------------------------\n\nFINAL INSTRUCTION:\n\n- ALL four values must be present\n- If ANY value is missing → return NOTHING\n- Do NOT guess under any condition\n- Only extract exact numeric values"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -48,
        160
      ],
      "id": "34a704f2-9330-458b-82c5-1ac7362e66eb",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -80,
        384
      ],
      "id": "d0426697-4a22-4fdb-807b-8d0197098bd8",
      "name": "Ollama Chat Model3",
      "credentials": {
        "ollamaApi": {
          "id": "8FaG1jfWSkyu6Pqk",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"N\": {\n      \"type\": [\"number\", \"null\"]\n    },\n    \"P\": {\n      \"type\": [\"number\", \"null\"]\n    },\n    \"K\": {\n      \"type\": [\"number\", \"null\"]\n    },\n    \"pH\":{\n      \"type\":[\"number\",\"null\"]\n    }\n  }\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        96,
        400
      ],
      "id": "cdf39bc0-48d9-47ef-9fbc-0dcb83af984c",
      "name": "Structured Output Parser",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -64,
        656
      ],
      "id": "ece39950-51c0-4673-b6e4-3abca179eddc",
      "name": "Ollama Chat Model4",
      "credentials": {
        "ollamaApi": {
          "id": "8FaG1jfWSkyu6Pqk",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3db4ae5a-3199-4bba-8475-0407f8cae910",
              "name": "metadata.lat",
              "value": 16.49,
              "type": "number"
            },
            {
              "id": "8c3bbd5e-6a4b-4780-ace9-29103b7e2e17",
              "name": "metadata.lon",
              "value": 80.5,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1904,
        -288
      ],
      "id": "11c804ed-e536-497f-95d3-81995155bd76",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "http://172.17.0.1:8000/location",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lat",
              "value": "={{ $('When chat message received').item.json.metadata?.lat || $('Edit Fields1').item.json.metadata?.lat }}"
            },
            {
              "name": "lon",
              "value": "={{ $('When chat message received').item.json.metadata?.lon ?? $('Edit Fields1').item.json.metadata?.lon }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        -848
      ],
      "id": "77075245-aea6-473b-850f-1593d07892b1",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "url": "http://172.17.0.1:8000/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lat",
              "value": "={{ $('When chat message received').item.json.metadata?.lat || $('Edit Fields1').item.json.metadata?.lat }}"
            },
            {
              "name": "lon",
              "value": "={{ $('When chat message received').item.json.metadata?.lon ?? $('Edit Fields1').item.json.metadata?.lon }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -528,
        160
      ],
      "id": "f6eb62a0-caed-4db9-a279-e5b92f28e761",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "url": "http://172.17.0.1:8000/location",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lat",
              "value": "={{ $('When chat message received').item.json.metadata?.lat || $('Edit Fields1').item.json.metadata?.lat }}"
            },
            {
              "name": "lon",
              "value": "={{ $('When chat message received').item.json.metadata?.lon ?? $('Edit Fields1').item.json.metadata?.lon }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -304,
        160
      ],
      "id": "17628bf4-d26c-4b16-bc74-714753c642fc",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "url": "http://172.17.0.1:8000/predict",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "N",
              "value": "={{ $json.npk.N }}"
            },
            {
              "name": "P",
              "value": "={{ $json.npk.P }}"
            },
            {
              "name": "K",
              "value": "={{ $json.npk.K }}"
            },
            {
              "name": "pH",
              "value": "={{ $json.npk.ph }}"
            },
            {
              "name": "rainfall",
              "value": "={{ $json.weather.rain }}"
            },
            {
              "name": "temperature",
              "value": "={{ $json.weather.temperature }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        -448
      ],
      "id": "f20697a1-d1f3-4788-9855-f2cde2b3e4e3",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Top crop: {{ $json.recommendations[0].crop }} ({{ $json.recommendations[0].confidence }})\n\nSecond crop: {{ $json.recommendations[1].crop }} ({{ $json.recommendations[1].confidence }})\n\nThird crop: {{ $json.recommendations[2].crop }} ({{ $json.recommendations[2].confidence }})\nUser Location Details\nVillage: {{ $('HTTP Request5').item.json.village }}\nDistrict: {{ $('HTTP Request5').item.json.district }}\nState: {{ $('HTTP Request5').item.json.state }}\nUser weather details\nTemperature: {{ $('HTTP Request4').item.json.temperature }}\nHumidity: {{ $('HTTP Request4').item.json.humidity }}\nRainfall: {{ $('HTTP Request4').item.json.rain }}\nSoil Moisture: {{ $('HTTP Request4').item.json.soil_moisture }}\nUser  soil NPK Levels\nN: {{ $('AI Agent3').item.json.output.N }}\nP: {{ $('AI Agent3').item.json.output.P }}\nK: {{ $('AI Agent3').item.json.output.K }}\npH:{{ $('AI Agent3').item.json.output.pH }}",
        "options": {
          "systemMessage": "You are an AI Crop Explanation Assistant.\n\nYour job is NOT to recommend crops.\nYour job is to EXPLAIN WHY a crop was chosen based on given data.\n\nYou are given:\n- User input\n- Location (village, district, state)\n- Weather data (temperature, humidity, rainfall, soil moisture, etc.)\n- Soil data (N, P, K, pH)\n- Model output (top 3 crops with confidence scores)\n\n--------------------------------\n🔥 CORE RESPONSIBILITY\n--------------------------------\n\nExplain WHY the top crop was selected using:\n- Soil conditions (NPK, pH)\n- Weather conditions (temperature, rainfall, humidity, soil moisture)\n- Confidence score\n\n--------------------------------\n🚫 STRICT RULES\n--------------------------------\n\n- DO NOT recommend new crops\n- DO NOT change model output\n- DO NOT contradict the model\n- DO NOT say \"I suggest\" or \"you should grow\"\n- ONLY explain reasoning\n\n--------------------------------\n🧠 EXPLANATION LOGIC\n--------------------------------\n\nYou MUST:\n\n1. Start by clearly stating the top predicted crop\n\n2. Explain using:\n   - Soil nutrients:\n     Example:\n     \"The nitrogen level is moderate which supports leafy growth.\"\n\n   - pH:\n     Example:\n     \"The soil pH is slightly acidic which is suitable for this crop.\"\n\n   - Weather:\n     Example:\n     \"The current temperature is optimal for growth.\"\n     \"Low rainfall indicates controlled irrigation is needed.\"\n\n3. Mention confidence:\n   - High (>0.7): \"The model is highly confident\"\n   - Medium (0.4–0.7): \"moderate confidence\"\n   - Low (<0.4): \"low confidence, conditions are not ideal\"\n\n4. Compare briefly with other crops:\n   - Example:\n     \"Other crops like rice and jowar have lower compatibility under these conditions.\"\n\n--------------------------------\n📌 OUTPUT FORMAT (MANDATORY)\n--------------------------------\n\nCrop:\n<top crop name>\n\nConfidence:\n<percentage + interpretation>\n\nReasoning:\n- Soil explanation\n- Weather explanation\n- Any limitations\n\nComparison:\n- Why other crops ranked lower\n\n--------------------------------\n🧪 EXAMPLES\n--------------------------------\n\nExample 1:\n\nInput:\nTop crop: cabbage (0.78)\nN=90 P=40 K=50 pH=6.5\nTemp=25°C Humidity=70%\n\nOutput:\n\nCrop:\nCabbage\n\nConfidence:\n78% (Highly suitable conditions)\n\nReasoning:\n- The nitrogen level is high, which supports leafy crops like cabbage.\n- The pH is slightly acidic, which is ideal for cabbage growth.\n- The temperature is moderate, supporting healthy development.\n- Humidity is sufficient for maintaining leaf moisture.\n\nComparison:\n- Crops like rice require higher water availability.\n- Jowar is more suited for drier conditions.\n\n--------------------------------\n\nExample 2:\n\nInput:\nTop crop: rice (0.35)\nLow rainfall, high temperature\n\nOutput:\n\nCrop:\nRice\n\nConfidence:\n35% (Low confidence)\n\nReasoning:\n- Rice typically requires high water, but current rainfall is low.\n- High temperature may stress water availability.\n\nComparison:\n- Other crops also show low compatibility due to limited moisture.\n\n--------------------------------\n\nExample 3:\n\nInput:\nTop crop: jowar (0.52)\nLow soil moisture, high temperature\n\nOutput:\n\nCrop:\nJowar\n\nConfidence:\n52% (Moderately suitable)\n\nReasoning:\n- Jowar is drought-resistant and performs well in low moisture.\n- High temperature supports its growth cycle.\n\nComparison:\n- Crops like rice and cabbage require more water.\n\n--------------------------------\n\nFINAL INSTRUCTION:\n\nAlways explain using data.\nNever guess.\nNever recommend.\nOnly justify the model's decision."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        864,
        -144
      ],
      "id": "b5e8d574-1645-425b-9511-c633e648108f",
      "name": "AI Agent4"
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        944,
        80
      ],
      "id": "c0949a4e-70a9-4cba-bcba-d4ce5e803c57",
      "name": "Ollama Chat Model5",
      "credentials": {
        "ollamaApi": {
          "id": "8FaG1jfWSkyu6Pqk",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://172.17.0.1:8000/predict",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "N",
              "value": "={{ $json.output.N }}"
            },
            {
              "name": "P",
              "value": "={{ $json.output.P }}"
            },
            {
              "name": "K",
              "value": "={{ $json.output.K }}"
            },
            {
              "name": "pH",
              "value": "={{ $json.output.pH }}"
            },
            {
              "name": "rainfall",
              "value": "={{ $('HTTP Request4').item.json.rain }}"
            },
            {
              "name": "temperature",
              "value": "={{ $('HTTP Request4').item.json.temperature }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        -48
      ],
      "id": "65b3b067-41e5-4abe-b873-7b2727179ebc",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e162f525-bf66-40f9-ac09-3140498ee9d5",
              "leftValue": "={{ $json.output.N }}",
              "rightValue": null,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "767f2a40-bbbf-4708-bf61-ac7921b46528",
              "leftValue": "={{ $json.output.P }}",
              "rightValue": null,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "0a830832-87e1-4616-9ab2-411c65a09364",
              "leftValue": "={{ $json.output.K }}",
              "rightValue": null,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "3ba894f1-d625-4de5-93c7-1a530e87e54a",
              "leftValue": "={{ $json.output.pH }}",
              "rightValue": null,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        160
      ],
      "id": "4abff751-39f1-4b47-bafd-7fd769287d69",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Input {{ $('When chat message received').item.json.chatInput }}\n\nN value  {{ $json.output.N }}\nP value  {{ $json.output.P }}\nK value  {{ $json.output.K }}\npH value  {{ $json.output.pH }}",
        "options": {
          "systemMessage": "You are a Data Validation Assistant.\n\nYour task is to:\n\n1. Greet the user.\n2. Briefly acknowledge or respond to the user’s input.\n3. Validate whether ALL four soil parameters are provided:\n\n   * Nitrogen (N)\n   * Phosphorus (P)\n   * Potassium (K)\n   * pH\n4. If ANY value is missing, clearly state which one(s) are missing and ask the user to provide them.\n5. Emphasize that without ALL parameters, crop recommendation cannot be given.\n\n---\n\n## STRICT RULES\n\n* Treat the following as MISSING values:\n  \"Not Available\", \"N/A\", \"null\", \"\", undefined\n* Do NOT assume values.\n* Do NOT proceed if any value is missing.\n* You MAY mention crop recommendation ONLY to explain why data is needed.\n* Do NOT actually recommend any crops.\n\n---\n\n## RESPONSE STRUCTURE (MANDATORY)\n\nYour response MUST follow this order:\n\n1. Greeting (friendly and polite)\n2. Acknowledge the provided values briefly\n3. Clearly identify missing parameter(s)\n4. Politely but firmly request missing value(s)\n5. State that crop recommendation requires all values\n\n---\n\n## EXAMPLE OUTPUT STYLE\n\n\"Hello! 🌱\n\nThanks for sharing your soil data. I can see that Nitrogen (N), Phosphorus (P), and Potassium (K) values are provided.\n\nHowever, the following required parameter is missing:\n\n* pH\n\nPlease provide the pH value. Without it, I won’t be able to proceed further or generate an accurate crop recommendation.\"\n\n---\n\n## SUCCESS CASE\n\nIf ALL values are present:\n\n\"Hello! 🌱\n\nThanks for sharing your soil data. All required parameters (N, P, K, and pH) have been successfully collected.\"\n\n---\n\n## IMPORTANT\n\n* Be clear, polite, and slightly firm.\n* Keep response structured.\n* Do not skip greeting.\n* Do not skip validation.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        864,
        368
      ],
      "id": "71bf1593-35c6-4ec0-b35f-013bf8e2594d",
      "name": "AI Agent5"
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        944,
        592
      ],
      "id": "20dc62da-e1ee-4f59-bff0-dfc7f2916f4e",
      "name": "Ollama Chat Model6",
      "credentials": {
        "ollamaApi": {
          "id": "8FaG1jfWSkyu6Pqk",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent4",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent5",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent5": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7705b911-b23e-411c-8d09-0bc2fdd3854b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98c1eb4ee93476743763878fcb96a25fbc9a175074d64004779ecb5242f645e6"
  },
  "id": "k8QGO3lRMUXUlnBU",
  "tags": []
}